/* головна кнопка */

.main {
	width: 100%;
	height: 100%;
	transition: all .2s ease;
}
 
.button {
	width: 200px;
	height: 40px;
	border-radius: 0 0 10px 10px;
	background-color: #3D8EAC;
	text-align: center;
	cursor: pointer;
	position: absolute;
	bottom: -40px;
	left: 50%;
	transform: translate(-50%);
} 

.button:hover {
	background-color: #38849F;
}

.button span {
	line-height: 40px;
	color: #fff;
	font-size: 17px;
	font-weight: 400;
}

.admin_btn {
	color: #fff;
	height: 150px;
	width: 150px;
	line-height: 40px;
	text-align: center;
	padding: 10px;
	border: solid #fff;
	border-width: 2px 2px 0;
	border-radius: 100%;
	position: absolute;
	bottom: -65px;
	right: -65px;
	transform: rotate(-45deg);
	cursor: pointer;
}

#btn_hidden {
	display: none;
}

/* фон */

.overlay , .overlay-reg{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .35);
	display: none;
}

/* поп-ап */

.popup {
	position: absolute;
	width: 450px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	color: #fff;
}

.style-popup {
	background-color: #fff;
	border-radius: 15px;
	overflow: hidden;
}

#popup-result, #popup-result-reg {
	color: #F7000C;
	text-align: center;
	margin-bottom: 4px;
	font-weight: 400;
	font-size: 13px;
}



/* шапка */

.head_popup {
	padding: 20px;
	background-color: #F74C55;
}

.head_popup > span {
	font-size: 24px;
	font-weight: 700;
}

/* тіло */

.body_popup {
	padding: 30px;
}

.body_popup > form > input {
	margin-bottom: 18px;
	height: 50px;
	padding: 0 16px;
	border: none;
	background-color: #EEEEEE;
	width: 100%;
	font-size: 18px;
	font-weight:  400;
	color: #777777;
	border-radius: 5px;
}

.body_popup > p {
	width: 100%;
	text-align: center;
	color: #777777;
	font-size: 13px;
	font-weight:  300;
	margin: 15px 0 0;
}

.body_popup > p > span {
	color: #777777;
	font-size: 13px;
	font-weight: 400;
	cursor: pointer;
}

.body_popup > p > span:hover {
	text-decoration: underline;
}

.body_popup > form > button {
	background-color: #33CC77;
	border: none;
	border-radius: 5px;
	margin: 0 auto;
	width: 100%;
	height: 50px;
	display: block;
	font-size: 20px;
	font-weight: 700;
	cursor: pointer;
}

/* крестик */

.close-popup {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 23px;
	height: 23px;
	cursor: pointer;
}

.close-popup:before {
	content: '';
	background-color: #fff;
	position: absolute;
	height: 1px;
	width: 31px;
	top: 11px;
	left: -4px;
	transform: rotate(-45deg);
}

.close-popup:after {
	content: '';
	background-color: #fff;
	position: absolute;
	height: 1px;
	width: 31px;
	top: 11px;
	transform: rotate(45deg);
	left: -4px;
}

@media screen and (max-width: 768px) {

	.popup {
		width: 100%;
		height: 100vh;
		font-size: 15px;
		padding: 0 10%;
	}
}