* {
	padding: 0;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	box-sizing: border-box;
	color: #fff;
	font-size: 16px;
}

html{
	background-color: #fff;
	background-position-x: 50%;
	min-width: 1280px;
}

a {
	text-decoration: none;
}

/* документи */

.documents {
	text-align: center;
}

.documents > img {
	width: 80%;
	max-width: 100%;
	margin: 5px;
	border: solid 1px #404040;
	border-radius: 3px;
}

/* відступи */

#main_offset {	
	padding-right: 125px;
	padding-left: 125px;
	width: 1280px;
}
#main_offset_r {
	width: 1280px;
	padding: 0 50px;
}

/*wallpaper*/

.wallpaper-block {
	position: absolute;
	bottom: 0;
	width: 1030px;
	margin-bottom: 10px;
}

.wallpaper {
	height: 280px;
	width: initial;
	border-radius: 10px;
	border: solid 1px #3D8EAC;
	margin: 0 24px;
	display: none;
}


/* шапка */

.blue {
	background-color: #3D8EAC;
}

.red {
	background-color: #F74C55;
}

.primary_menu {
	min-height: 500px;
	max-height: 700px;
	padding-top: 19px; 
	position: relative;
}

.s1 {
	background: url(../image/wallpaper/main_wallpaper.jpg) top;
	background-size: cover;
}

.logo_text > a {
	font-family: 'Marck Script', cursive;
	font-size: 50px;
}

.nav_menu {
	display: inline-block;
	float: right;
	line-height: 62px;
}

.nav_menu > li {
	list-style: none;
	display: inline;
	margin-left: 30px;
}

.nav_menu > li > a {
	font-weight: 400;
}

.nav_menu > li:first-child {
	margin-left: 0;
}

.nav_menu_h {
	float: right;
	background-color: #3D8EAC;
	padding: 10px 0;
	border-radius: 10px;
	margin: 10px 0;
}

.nav_menu_h > li {
	list-style: none;
	display: inline-block;
}

.nav_menu_h > li > a {
	padding: 10px 14px;
	border-radius: 10px;
	font-weight: 400;
}

.nav_menu_h > li > a:hover {
	background-color: #fff;
	color: #3D8EAC;
}



/* слоган, пошук */

.slogan_wrapper { 
	display: grid;
	margin-top: 141px;
	margin-left: 50%;  
}

.slogan_wrapper > .title_slogan {
	font-size: 40px;
}

.slogan_wrapper > .second_slogan {
	font-size: 16px;
}

.slogan_wrapper > a > button {
	width: 160px;
	text-align: center;
	border: solid 2px #fff;
	background-color: transparent;
	border-radius: 10px;
	font-size: 24px;
	margin-top: 20px;
	padding-bottom: 3px;
	cursor: pointer;
}

.search {
	margin: 15px auto 85px;
	background-color: #3D8EAC;
	border-radius: 10px;
	padding: 15px;
	height: 210px;
	width: 620px;
}

.search > span {
	display: block;
	text-align: center;
}

.search > .title {
	font-size: 26px;
	font-weight: 400;
}

.search > .subtitle {
	font-size: 14px;
}

.search > input, button {
	display: block;
	font-size: 18px;
	margin-top: 10px;
}

.search_input {
	width: 100px;
	font-weight: 400;
	padding: 5px;
	text-align: center;
	color: #111B24;
	border: none;
	border-radius: 3px;
}

#search_error {
	margin-top: 14px;
	font-weight: 400;
	background-color: #fff;
	border-radius: 5px;
	display: inline-block;
	transform: translate(-50%);
	position: relative;
	left: 50%;
	padding: 0 10px;
	color: #F7000C;
}

.hidden {
	display: none;
}

.search_button {
	width: 130px;
	padding: 6px;
	border: solid 2px #fff;
	border-radius: 10px;
	background-color: transparent;
	cursor: pointer;
}

.result_search {
	color: #111B24;
	width: 800px;
	border: 1px solid #C0C0C0;
	padding: 20px;
	border-radius: 10px;
	background-color: #FAFAFA;
}

.result_search > span {
	color: #111B24;
}

.result_search > section > * {
	color: #111B24;
}

.result_search > .id {
	display: block;
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 20px;
	text-align: center;
}

.result_search > section > .year {
	display: inline-block;
	font-size: 20px;
	float: left;
}

.main_payment {
	display: inline-block;
	float: right;
}

.main_payment > span {
	font-size: 20px;
	font-weight: 400;
}

.result_search > .prev_year_res {
	width: 100%;
	height: 100%;
	margin-top: 30px;
}

#search_results {
	margin-bottom: 55px;
	color: #111B24;
	font-weight: 400;
	font-size: 18px;
	text-align: center;
}

.info_table {
	width: 100%;
	margin-top: 10px;
}

.tblock_main {
	width: 100%;
	margin: 0 auto;
	display: table-row;
}

.tblock_main > th {
	padding: 5px;
	color: #111B24;
	text-align: left;
	font-weight: 400;
	font-size: 18px;
	border-bottom: solid 1px #C0C0C0;
	display: table-cell;
	width: 10%;
}

.tblock_wrapper > td {
	padding: 5px;
	color: #111B24;
	background-color: #F5F5F5;
	font-size: 18px;
	font-weight: 300;
	text-align: left;
}

/*Адмін Панель*/

.primary_menu_admin {
	background-color: #404040;
	min-height: 100px;
	padding-top: 19px; 
	position: relative;
	overflow: hidden;
}

.not_permission {
	color: #F7000C;
	font-weight: 400;
	font-size: 25px;
	width: 100%;
	text-align: center;
	display: table;
}

/* головний текст */

.content {
	padding-top: 85px;
	background-color: #fff;
}

.content > .main_text {
	margin-bottom: 85px;
}

.main_text > .title_text {
	display: block;
	color: #111B24;
	font-size: 30px;
	margin-bottom: 25px;
}

p {
	color: #111B24;
}

.main_text > .text {
	display: block;
	color: #111B24;
	font-size: 16px;
	text-align: justify;
}

/* підбірка кольорів */

.colors {
	margin-top: 56px;
	width: 180px;
	height: 32px;
	display: inline-flex;
}

.colors > div {
	display: block;
	height: 32px;
	width: 36px;
}

.color_line {
	background-image: url(../image/color_line.jpg);
	height: 9px;
}

/* про місто */

.city_more {
	background: #606060 url(../image/city.jpg) no-repeat center;
	height: 500px;
	margin-top: 85px;
}

.city_more > .city_wrapper {
	padding-top: 183px;
	text-align: center;
} 

.city_wrapper > span {
	display: block;
	font-size: 42px;
	margin-bottom: 45px;
}

.city_wrapper > a > button {
	background-color: transparent;
	border: solid 2px #fff;
	border-radius: 10px;
	font-size: 24px;
	padding: 5px 30px 6px;
	cursor: pointer;
}

/* Контакти */

.contacts {
	width: 50%;
	display: inline-block;
}

.google_map {
	width: 50%;
	display: inline-block;
	float: right;
	height: 400px;
}

.contacts > span {
	color: #111B24;
	font-weight: 700;
	width: 100%;
	display: inline-block;
	text-align: center;
	font-size: 24px;
	margin-bottom: 15px;
}

.contacts > .cont_block {
	color: #111B24;
}

.cont_block > span {
	display: inline-block;
	width: 100%;
	color: #111B24;
	font-weight: 400;
	font-size: 18px;
}

/* про мене */

.img_contacts {
	text-align: center;
	margin: 20px 0;
	height: 52px;
}

.img_contacts > a > img {
	margin: 10px;
	height: 42px;
	width: 42px;
}

/* вкладка з виводом документів */

.part-title {
	text-align: center;
	padding-bottom: 30px;
}
.part-title > span {
	color: #000;
	font-size: 24px;
	font-weight: 700;
}
.dnone {
	display: none;
}
.all_document {
	display: flex;
}
.left-sidebar {
	margin: 0;
	flex: 1 1 20%;
}
.body-sidebar {
	background-color: #3D8EAC;
	border-radius: 10px;
	overflow: hidden;
	margin-right: 30px;
}
.side-link {

}
.side-link > button {
	width: 100%;
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 10px 45px;
}
.side-link > button:hover {
	cursor: pointer;
	background-color: #2E7F9D;
}
.current-doc {
	margin: 0;
	flex: 1 1 80%;
}

/* футер */

.footer {
	height: 70px;
	text-align: center;
}

.footer > span, .me_link {
	color: #111B24;
	line-height: 70px;
}

.me_link:hover {
	color: #F74C55;
	text-decoration: underline;
}